body {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font:600;
    background-color: aliceblue;
    background-image: linear-gradient(45 degrees, red, blue);
}

button {
    width: 150px;
    height: 30px;
    background-color: #ffff;

}

button:hover{
    background-color: lightblue;
    transition: 1s;
}

